<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical">
  <Contacts.Views.InfoView
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:id="@+id/infoview" />
  <LinearLayout
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:orientation="horizontal"
      android:layout_gravity="center"
      android:layout_marginTop="32dp">
    <Button
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:text="Back"
      android:id="@+id/info_btnback" />

  </LinearLayout>

</LinearLayout>